<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="stylesheet" th:href="@{/css/styles.css}">

<!--Bootstrap CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<!--Bootstrap JS-->

<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!--Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap" rel="stylesheet">

<!-- JQuery -->
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>



<!-- JQuery UI CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/jquery-ui.css}" />

<!-- JQuery UI -->
<script th:src= "@{/webjars/jquery-ui/jquery-ui.js}"></script>

<title layout:title-pattern="$CONTENT_TITLE"></title>

</head>

<body>

<div id="messageHolder" th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message mt-3"
     role="alert">
    <span id="message">[[${message}]]</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"></span>
    </button>
</div>

 <div th:replace="fragments/navigation :: navigation"></div>


     <section>
         <div  th:replace="fragments/canvas :: canvas"></div>
     </section>

      <section>
          <div id="main-content" layout:fragment="content"></div>
      </section>



 <!-- Logout Modal -->
 <div class="modal text-center " data-bs-theme="dark"  id = "confirmLogout">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title text-light">Logout Confirmation</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                 </button>
             </div>
             <div class="modal-body">
                 <span id="confirmText" class="text-light">Are you sure you want to logout?</span>
             </div>


             <div class="modal-footer">
                 <!-- https://www.codejava.net/frameworks/spring-boot/spring-security-logout-link -->
                 <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                     <input type="submit" name ="logout" value="Logout">
                 </form>

                 <a id="logoutButtonModal" href="/" type="button" class="btn btn-danger">Yes</a>
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
             </div>

         </div>
     </div>
 </div>


 <!--Font Awesome-->
 <script src="https://kit.fontawesome.com/0c170eb2fd.js" crossorigin="anonymous"></script>




<script th:src="@{/js/index.js}" type="text/javascript"></script>

 <th:block layout:fragment="script"></th:block>
</body>
</html>