<a
  th:fragment="paging(pageNum,label,tooltip)"
  class="page-link"
  th:href="@{'/appearances/'+ ${visitor.id} + '/appearance-history?' + ${searchPurpose != null && searchPurpose != '' ? 'searchPurpose=' + searchPurpose + '&' : ''}
  + ${selectedMonth != null && selectedMonth != 0 ? '?selectedMonth=' + selectedMonth + '&' : ''}
   + ${selectedYear != null && selectedYear != 0 ? '?selectedYear=' + selectedYear + '&' : ''}
  + 'page= ' +${pageNum} + '&size=' + ${pageSize}
  + ${sortField != null ? '&sort=' + sortField + ',' + sortDirection : ''}}"
  th:title="${tooltip}"
  rel="tooltip"
  th:text="${label}"
></a>
