<div class=" container-lg offcanvas offcanvas-size-sm offcanvas-start show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="1" id="side-panel" aria-labelledby="Side Panel">

  <div class="container-fluid offcanvas-body">
    <a class="side-link py-3" type="button" href="index.html"><i class="fa-solid fa-chalkboard-user"></i> Dashboard</a>
    <a class="side-link py-3" type="button" href="coa-supplies/supplies.html" target="viewport"><i class="fa-solid fa-boxes-packing"></i> Supplies Management</a>
    <a class="side-link py-3" type="button" href="coa-appearance/appearance.html" target="viewport"><i class="fa-solid fa-file-signature"></i> Certificate of Appearance</a>

  </div>
</div>