

  <div  th:fragment="canvas" class="offcanvas offcanvas-size-sm offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="1" id="canvas-panel" aria-labelledby="Canvas Panel">

    <div class="profile" th:if="${session.user}" th:object="${session.user}">
        <img th:src="@{/images/user.png}" alt="profile picture">
        <h4  th:text="*{name}"></h4>
        <p th:text="*{position}"></p>
<!--        <a href="#">User settings</a>-->
    </div>

<!--    <div class="profile">-->
<!--      <img th:src="@{/images/user.png}" alt="profile picture">-->
<!--      <h4>Name here</h4>-->
<!--      <p>Position here</p>-->
<!--      <a href="#">User settings</a>-->
<!--    </div>-->

    <div class="side-buttons">
      <ul>
        <li>
          <a id = "dashboardButton" th:href="@{/dashboard}">
            <span class="icon"><i class="fa-solid fa-house"></i></span>
            <span class="item">Home</span>
          </a>
        </li>

        <li>
          <a  id = "visitorButton" th:href="@{/visitors}">
            <span class="icon"><i class="fa-solid fa-users"></i></span>
            <span class="item">Visitors</span>
          </a>
        </li>


       <li sec:authorize="hasRole('ADMIN')">
          <a type ="button" id="appSettingButton" class = "sub-button">
            <span class="icon"><i class="fa-solid fa-gear"></i></span>
            <span class="item">App Settings</span>
            <i class="fa-solid fa-angle-right dropdown"></i>
          </a>
          <div class="sub-menu">
            <a th:href="@{/settings/leaders}" id="leaderSettingButton" class="sub-item">Leaders</a>
            <a th:href="@{/settings/users}"  id = "userSettingButton" class="sub-item">Users</a>
          </div>
        </li>


        <li>
          <a  type="button" id="logoutButton">
            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
            <span class="item">Logout</span>
          </a>
        </li>

      </ul>
    </div>
  </div>

