
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: #051b33;
}


*{
    list-style : none;
    text-decoration : none !important;
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family:"Source Code Pro","Roboto Mono", sans-serif;

}

.navbar{
    top : 0;
    z-index: 2 !important;
}

.navbar-nav{
    padding: 0 1rem;
}


/* Sidebar Menu */

.offcanvas {
    z-index: 1 !important;
    height : 100%;
    top : 0;
    left: 0;
    padding : 20px 0;
    background : rgba(0,71,171,0.8) !important;
    backdrop-filter : blur(15px);
    transition: all 0.5s ease;
}

.offcanvas .logo{

    margin :   5rem 30px 2rem;
    text-align : center;
}

.offcanvas .logo img{
    display: block;
    width : 100px;
    height : 100px;
    border-radius : 50%;
    margin: 0 auto;
}

.offcanvas .logo  h4{
    color : rgb(255,255,255);
    margin: 10px 0 5px;
}


.offcanvas .side-buttons ul{
    padding : 0;
}

.offcanvas .side-buttons ul li a{
    display : block;
    padding : 13px;
    border-bottom : 1px solid #10558d;
    color : rgb(255,255,255);
    font-size : 1rem;
    position : relative;
}

.offcanvas .side-buttons ul li a .icon{
    color : rgba(255,255,255,0.5);
    width : 30px;
    display : inline-block;
}

.offcanvas .side-buttons ul li a:hover,
.offcanvas .side-buttons ul li a.active{
    color : rgb(0,71,171);

    background : white;
    boder-right : 2px solid rgb(5, 68,104);
}

.offcanvas .side-buttons ul li a:hover .icon,
.offcanvas .side-buttons ul li a.active .icon{
    color : rgb(0, 71, 171);
}


.offcanvas .side-buttons ul li a:hover:before,
.offcanvas .side-buttons ul li a.active:before{
    display : block;
}


.side-buttons li .dropdown{
    position: absolute;
    right: 0;
    margin: 5px 10px;
    transition: 0.3s ease;
}

.side-buttons li .sub-menu{
    display: none;

}

.side-buttons li .sub-menu .sub-item{
    padding: 5px 5px 5px 50px;
}


.rotate{
   transform: rotate(90deg) ;
}


.fa-user{
    margin-right : 5px;
}

.navbar-collapse{
    text-align: right;
}

.offcanvas-size-xl {
    --bs-offcanvas-width: min(95vw, 600px) !important;
}
.offcanvas-size-xxl {
    --bs-offcanvas-width: min(95vw, 90vw) !important;
}
.offcanvas-size-md { /* add Responsivenes to default offcanvas */
    --bs-offcanvas-width: min(95vw, 400px) !important;
}
.offcanvas-size-sm {
    --bs-offcanvas-width: min(95vw, 250px) !important;
}

.input-group{
    margin-bottom:1rem;
    font-family:"Roboto Mono","Source Code Pro", sans-serif;
}

.card-header{
    padding:1rem;
    font-family:"Source Code Pro", "Roboto Mono", sans-serif;
    font-size:1rem;
}

h1,h2,h3,h4,h5,h6{
font-family : "Source Code Pro", sans-serif;
}

#main-div.container{
    margin-top : 5rem;
}

.footer-div{
       text-align: center;
       position: relative;
       margin-top : 5rem;
       bottom: 0;
       width: 100%;
       padding: 10px;
       color: grey;

}

.message{
    position : fixed !important;
    top : 40px;
    left :78%;
    right: 5px;
    width: 20%;
    z-index : 999;


}

.btn-search{
    width : 40px;
    height : 35px;
}

.ui-autocomplete {
    background: #212529;
    border-radius: 2px;
    border : 0.5px solid #495057;

}
.ui-autocomplete.source:hover {
    background: white;
    color : #212529;
}

.ui-menu .ui-menu-item {
    background:#212529;
    color : white;
    }


div#main-content{
    width 100%;
    margin : 1rem 3rem;
 }


 span#addModalMessageHolder{
    display :none;
 }

  span#editModalMessageHolder{
     display :none;
  }


/*
div.btn-add{
    padding: 0.4rem 3rem 0 0;
}

div.btn-search{
    padding: 0.3rem 3rem 0 0;
}

div.btn-clear{
   padding: 0.3rem 3rem 0 0;
}

.form-control{
     width : 2rem;
     height: 42.5px;
     line-height: 30px;
     font-size: 1em;
     border-radius: 20px;

}



.label-new{
    font-family:"Source Code Pro", "Roboto Mono", sans-serif;
    color : #E0E0E0;
}

.fa-trash-can{
    color : #E0E0E0;
}




div #appearanceForm{
    border-radius : 10px;
}

span .name{
    font-family : 'Roboto Mono';
    font-size : 3rem;
    font-weight : 900;
    text-shadow: 2px 2px black;
}

#ui-datepicker-div {
z-index: 10000 !important;
}



ul{
    list-style-type : none;
    margin: 0;
    padding :0 !important;
}

div .role-list li{
    display: inline-block;
}


.form{
    position : relative;
    display : inline-block;
}



*/