<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
  <head>
    <title>Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
  </head>
  <body>
    <div layout:fragment="content">
      <!-- <script th:inline="javascript">
        var visitors = /*[[${visitors}]]*/ "novalue";
        var leaderNames = /*[[${leaderNames}]]*/ "novalue";
        var positions = /*[[${positions}]]*/ "novalue";
        var agencies = /*[[${agencies}]]*/ "novalue";

        $(document).ready(function () {
          $("#visitorPosition").autocomplete({
            minLength: 1,
            source: positions,
          });

          $("#visitorAgency").autocomplete({
            minLength: 1,
            source: agencies,
          });

          $("td:nth-child(1),th:nth-child(1)").hide();

          $("#searchText").autocomplete({
            minLength: 3,
            source: visitors,
          });

          $("#leaderName").autocomplete({
            minLength: 2,
            source: leaderNames,
          });
        });
      </script> -->

      <div class="mt-5">
        <div class="search-div card mt-5 mb-5 bg-secondary">
          <div class="card-body search-container">
            <div class="search-bar">
              <input id="search" type="text" placeholder="Create new appearance for...." name="searchName" />
              <button type="submit" value="dashboard">
                <span class="material-symbols-outlined">search</span>
              </button>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="leader-label-div p-0 text-center text-light bg-success">
              <span>Current Leader</span>
            </div>
            <div class="leader-name-div text-center bg-dark text-light my-1 p-1">
              <!--Leader Name Here-->
            </div>
            <hr class="m-0 p-0 border border-secondary border-1 opacity-50" />
            <!--Settings Button Here-->
          </div>
        </div>

        <div class="new-visitor card mt-5 mb-3">
          <div class="card-body">
            <button id="addButton" class="btn btn-dark"><span class="material-symbols-outlined">person_add</span> Create new visitor</button>
          </div>
        </div>

        <div id="appearanceTable" class="card mt-4 mb-4">
          <div class="p-1 mt-3 bg-dark">Appearance History</div>
          <div class="card-body">
            <table class="table table-striped" id="appearance">
              <thead>
                <tr>
                  <th scope="col">Date Issued</th>
                  <th scope="col">Visitor</th>
                  <th scope="col">Name</th>
                  <th scope="col">Agency</th>
                  <th scope="col">Date Appeared</th>
                  <th scope="col">Purpose</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

    <th:block layout:fragment="script">
      <script type="module" th:src="@{/js/dashboard.js}" defer></script>
    </th:block>
  </body>
</html>
