<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Visitors</title>

    <link rel="stylesheet" th:href="@{/css/visitor.css}" />
  </head>
  <body>
    <div layout:fragment="content">
      <!-- <script th:inline="javascript">
        var positions = /*[[${positions}]]*/ "novalue";
        var agencies = /*[[${agencies}]]*/ "novalue";

        $(document).ready(function () {
          $("#visitorPosition").autocomplete({
            minLength: 1,
            source: positions,
          });

          $("#editVisitorPosition").autocomplete({
            minLength: 1,
            source: positions,
          });

          $("#visitorAgency").autocomplete({
            minLength: 1,
            source: agencies,
          });

          $("#editVisitorAgency").autocomplete({
            minLength: 1,
            source: agencies,
          });
        });
      </script> -->

      <div class="container-fluid">
        <!-- <div class="row">
          <div class="col-11 col-md-11 offset-md-1">
            <button type="button" id="addVisitorButton" class="btn btn-sm btn-success">Add</button>
          </div>
        </div> -->
        <!-- <hr /> -->

        <div class="row justify-content-md-center">
        <!--If the column headers in the table (inside the <thead> tag) are incomplete or exceed the number of rendered columns by DataTable, 
        an error will occur: TypeError: Cannot read properties of undefined (reading 'sClass').-->
          <div class="col-md-10 table-responsive-sm table-responsive-md">
            <table class="table table-striped table-bordered" id="visitors">
              <thead class="table-dark">
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Middle Initial</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Name</th>
                  <th scope="col">Position</th>
                  <th scope="col">Agency</th>
                  <th scope="col">Address</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>

      
    </div>
    <th:block layout:fragment="script">
      <script th:src="@{/js/visitor.js}" type="module" defer></script>
    </th:block>
  </body>
</html>
