<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Visitors</title>

    <link rel="stylesheet" th:href="@{/css/visitor.css}" />
  </head>
  <body>
    <div layout:fragment="content">
      <!-- <script th:inline="javascript">
        var positions = /*[[${positions}]]*/ "novalue";
        var agencies = /*[[${agencies}]]*/ "novalue";

        $(document).ready(function () {
          $("#visitorPosition").autocomplete({
            minLength: 1,
            source: positions,
          });

          $("#editVisitorPosition").autocomplete({
            minLength: 1,
            source: positions,
          });

          $("#visitorAgency").autocomplete({
            minLength: 1,
            source: agencies,
          });

          $("#editVisitorAgency").autocomplete({
            minLength: 1,
            source: agencies,
          });
        });
      </script> -->

      <div class="card">
        <div class="card-header pt-3">
          <div class="container text-center mt-6 pt-6">
            <div class="row justify-content-md-center mb-2">
              <div class="col-md-2 mt-1">
                <button type="button" id="addVisitorButton" class="btn btn-sm btn-success"><span class="material-symbols-outlined">add</span>Add Visitor</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <table class="table table-striped" id="visitors">
            <thead class="table-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Agency</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>

      <!-- Visitor Modal -->
      <div class="modal" data-bs-theme="dark" data-bs-backdrop="static" id="visitorModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <!--Modal Title Here-->
              <button id="closeModalButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="visitorForm">
              <div class="modal-body ui-front">
                <!--Error Message Here-->

                <div class="form-group">
                  <input type="hidden" id="id" />
                  <div class="md-form form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" required minlength="5" maxlength="100" placeholder="Name" />
                    <label class="text-secondary" for="name">Name</label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="md-form form-floating mb-3">
                    <input type="text" class="form-control" id="position" name="position" required minlength="5" maxlength="100" placeholder="Position" />
                    <label class="text-secondary" for="position">Position</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="md-form form-floating mb-3">
                    <input type="text" class="form-control" id="agency" name="agency" required minlength="5" maxlength="100" placeholder="Agency" />
                    <label class="text-secondary" for="agency">Agency</label>
                  </div>
                </div>
                <!--ADDRESS-->
                <div id="address"></div>
              </div>
              <div class="modal-footer">
                <button id="saveButton" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <th:block layout:fragment="script">
      <!-- <script th:src="@{/js/ph-address-selector.js}" type="module"></script> -->
      <script th:src="@{/js/visitor.js}" type="module" defer></script>
    </th:block>
  </body>
</html>
