<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Appearance Form</title>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap" rel="stylesheet">

    <!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> <!--must be always above the index.js-->



<!-- JQuery UI -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<script>
    $(document).ready(function(){
    
        
     $("#dateIssued").datepicker({
        defaultDate : +7,
        altFormat : "yyyy-mm-dd",
        dateFormat :"MM dd, yy"
     });
 
 
    });
    </script>

    <!-- JQuery UI CSS -->
<link rel="stylesheet"
href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>
<body>

<div layout:fragment="content">


    <div class="col-lg-8 col-md-8 align-self-center container-fluid my-5">
     <form th:action="@{/visitors/save}" method="POST" class="form-horizontal bg-dark" th:object="${formVisitorDTO}">
            <div class="container border border-black p-3" data-bs-theme="dark">
                <div class="container py-2 my-3 border-bottom border-secondary">
                
                <div class="row">
                    <div class="col-auto text-light" style="font-size: 2rem;">
                        New Appearance for : <span>John Philip Apulog</span>
                    </div>
                </div>
                <hr class="border border-secondary border-1 opacity-50">
                  
                <div class="row">
                    <div class="col text-light">
                    Position: <span>Administrative Assistant IV</span>
                    </div>
                      <div class="col text-light">
                    Agency: <span>Department of Information and Communication Technology</span>
                    </div>
                </div>
            </div>
                <div class="container">
<!--                        <div th:if="${visitorError != null}">-->
<!--                                <div class="alert alert-danger col-xs-auto">-->
<!--                                    <span th:text="${visitorError}"></span>-->
<!--                                </div>-->
<!--                        </div>-->
            <div class="row">
                <div class="col">
                    <div class="form-group ">
                        <input type="hidden" th:field="*{id}" id="visitorId">

                        <div class="md-form form-floating mb-3 ui-front">
                            <input th:field="*{dateIssued}" class="form-control" id="dateIssued"
                                  minlength="5" maxlength="100" placeholder="Date Issued">
                            <label class="text-secondary" for="dateIssued">Date Issued</label>
                        </div>
                    </div>

                </div>

            </div>
                        

                        <div class="form-group">

                            <div class="md-form form-floating mb-3">
                                <input type="text" th:field="*{position}" class="form-control" id="visitorPosition"
                                       minlength="5" maxlength="100" placeholder="Position">
                                <label class="text-secondary" for="visitorPosition">Position</label>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="md-form form-floating mb-3">
                                <input type="text" th:field="*{agency}" class=" form-control" id="visitorAgency"
                                       minlength="5" maxlength="100" placeholder="Agency">
                                <label class="text-secondary" for="visitorAgency">Agency</label>
                            </div>
                        </div>

                        <div class="container border-top border-secondary p-3">
                            <div class="d-flex justify-content-center">
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>

                                    <div class="col">
                                        <button type="submit" class="btn btn-danger">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>



<!--Font Awesome-->
<script src="https://kit.fontawesome.com/0c170eb2fd.js" crossorigin="anonymous"></script>



<!--Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>