<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Appearance Form</title>

    <link rel="stylesheet" th:href="@{/css/appearance.css}" />
  </head>
  <body>
    <div layout:fragment="content">
      <!-- <script th:inline="javascript">
        var purposes = /*[[${purposes}]]*/ "novalue";

        $(document).ready(function () {
          $("#purposeTextArea").autocomplete({
            minLength: 4,
            source: purposes,
          });
        });
      </script> -->

      <div class="col-lg-12 col-md-12 col-sm-12 align-self-center container-fluid my-5" id="appearanceForm">
        <div class="container-fluid border border-black p-3 bg-dark" data-bs-theme="dark">
          <div class="container-fluid py-2 my-3 border-bottom border-secondary">
            <h5 class="text-dark-emphasis mb-2 ms-2">Certificate of Appearance for</h5>
            <div class="visitor-details container-fluid">
              <!--Visitor details here-->
            </div>
            <div class="input-section container-fluid">
              <div class="form-group">
                <input type="hidden" id="appearanceId" />
                <input type="hidden" name="appearanceType" id="appearanceType" />
              </div>

              <!-- <div class="row d-flex justify-content-center align-items-center"> -->
              <div class="row">
                <div class="col-sm-12 col-md-2">
                  <div class="md-form form-floating mb-1 ui-front" style="z-index: 0">
                    <input type="text" name="dateIssued" class="form-control" id="dateIssued" placeholder="Date Issued" />
                    <label class="text-secondary" for="dateIssued">Date Issued</label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-2">
                  <div class="md-form form-floating mb-1 ui-front">
                    <input type="text" class="form-control" id="dateFrom" placeholder="From" />
                    <label class="text-secondary" for="dateFrom">From</label>
                  </div>
                </div>

                <div class="col-sm-12 col-md-2">
                  <div class="md-form form-floating mb-1 ui-front">
                    <input type="text" class="form-control" id="dateTo" placeholder="To" />
                    <label class="text-secondary" for="dateTo">To</label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-2">
                  <div class="md-form form-floating mb-1">
                    <input type="text" class="form-control" id="reference" placeholder="Travel Order No." />
                    <label class="text-secondary" for="reference">Travel Order No. </label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div class="md-form form-floating mb-1">
                    <input type="text" class="form-control" placeholder="State the purpose of appearance here." id="purpose" />
                    <label class="text-secondary" for="purpose">Purpose</label>
                  </div>
                </div>
                <div class="col-sm-12 col text-center mt-3">
                  <button class="btn-add btn btn-success">Add</button>
                </div>
              </div>

              <div class="row">
                <div class="card mt-4 mb-4">
                  <div class="card-body">
                    <div>
                      <table id="appearances" class="table">
                        <thead>
                          <tr>
                            <th scope="col">Travel Order</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Purpose</th>
                            <th schol="col">Action</th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Buttons here (Proceed and Cancel) -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <th:block layout:fragment="script">
      <script th:inline="javascript">
        const visitor = /*[[${visitor}]]*/ "novalue";
        const appearanceType = /*[[${appearanceType}]]*/ "novalue";
      </script>
      <script th:src="@{/js/appearance-form.js}" type="module" defer></script>
    </th:block>
  </body>
</html>
